@define-color bg #282828;
@define-color fg #ebdbb2;
@define-color y #d79921;

window {
    border: none;
    border-radius: 5px;
}

#input {
    margin: 15px;
    border-color: @bg;
    border: none;
    color: @bg;
    border-radius: 5px;
    background-color: @fg;
}


#inner-box {
    margin: 5px;
    background-color: @bg;
    border: none;
}

#outer-box {
    background-color: @bg;
    border-radius: 5px;
    border: none;
}

#text {
    margin: 10px;
    padding: 5px;
    color: @fg;
    border: none;
}
#text:selected {
    margin: 10px 0px;
    color: @bg;
}

#entry {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: @bg;
    border-radius: 5px;
    border: none;
}

#entry:selected {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: @y;
    border-radius: 5px;
    border: none;
}



