* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: #1c1c1c;
}

button {
    border-radius: 0;
    border-color: #4d4d4d;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1c1c1c;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	font-size: 17px;
}

button:focus, button:active, button:hover {
	background-color: #4d4d4d;
	outline-style: none;
}

#lock {
	border-radius: 15px 0px 0px 0px;
    background-image: image(url("/home/owl/.config/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/home/owl/.config/wlogout/icons/logout.svg"));
}

#suspend {
	border-radius: 0px 15px 0px 0px;
    background-image: image(url("/home/owl/.config/wlogout/icons/suspend.svg"));
}

#hibernate {
	border-radius: 0px 0px 0px 15px;
    background-image: image(url("/home/owl/.config/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/owl/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
	border-radius: 0px 0px 15px 0px;
    background-image: image(url("/home/owl/.config/wlogout/icons/reboot.svg"));
}
